/* login.module.css */
.words {
  font-family: 'Lucida Handwriting', cursive
}

form {
    text-align: center;
    border: 6px solid , black;
    margin-top: 100px;
    margin-bottom: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 20px;
    width: 30%; 
    height: 40%;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: auto;
}


body {
    background-image: url('./minimalist.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}






