/* style.module.css */
/*

.words {
    font-family: "Lucida Handwriting" ,cursive;
}


form {
    text-align: center;
    border: 6px solid , black;
    margin-top: 100px;
    margin-bottom: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 20px;
    width: 30%;
    height: 45%;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.box {
    width: 30%;
    height: 50%;
}

body {
    background-image: url('./minimalist.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
*/

.words {
    font-family: 'Lucida Handwriting', cursive
}
  
.box {
    width: 30%;
    height: 50%;
}
  
  
form {
    text-align: center;
    border: 6px solid black;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 20px;
    overflow: auto;
}
  
.container {
    display: grid;
    place-items: center;
    height: 100vh;
  
    background-image: url('./minimalist.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
  


