/* Contents.module.css */





/* side NavBar */
.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: darkgrey;
    width: 200px;
    height: 100vh;
    position: fixed;
    margin-top: 123px;
    overflow: auto;
}

li a {
    font-family: 'Lucida Handwriting', cursive;
    color: black;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 20px;
}

li a:hover {
    color: red;
}

/* contents */ 
.main {
    /*1px 16px */
    padding: 70px 0px 100px 150px;
    height: 500px;
    unicode-bidi: isolate;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.event {
    padding-bottom: 100px;
}


h1 {
    display: block;
    unicode-bidi: isolate;
    margin-top: 8%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-weight: bold;;
    font-size: 30px; 
    font-family: 'Lucida Handwriting', cursive;
    font-style: italic;
}

.contents_1 {
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Handwriting', cursive;
    background-color: lightgrey;
    height: 400px;
    overflow: auto;
    margin-left: 15%;
    margin-right: 15%;
    
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    
}

.button_container {
    display: flex;
    justify-content: center; /* Center horizontally within its parent */
    align-items: flex-end; /* Align to the bottom of its parent */
    margin-top: auto; 
}



button {
    display: block;
    margin-top: 100vh;

    margin-bottom: 50px;
    text-align: center;
    font-family: 'Lucida Handwriting', cursive;
    padding: 10px 20px;
    color: black;
    background-color: lightgrey;
    font-size: 30px;
    border: none;
}

button:hover {
    color: red;
    cursor: pointer;
}


/* containers */

.data_container_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; /* Make sure it takes the full height of its parent */
    gap: 20px;
}


.dataContainer {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;

}


